@charset "UTF-8";
@media (max-width: 1200px) {
  /* line 3, D:/Учеба/Uber/sass/media.sass */
  .menu_item {
    padding-right: 20px;
  }
  /* line 5, D:/Учеба/Uber/sass/media.sass */
  .menu_link {
    font-size: 13px;
  }
  /* line 8, D:/Учеба/Uber/sass/media.sass */
  .promo_header {
    font-size: 50px;
  }
  /* line 11, D:/Учеба/Uber/sass/media.sass */
  .footer_mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  /* line 15, D:/Учеба/Uber/sass/media.sass */
  .footer_mobile a {
    margin: 3px;
  }
}

@media (max-width: 1200px) and (max-width: 991px) {
  /* line 20, D:/Учеба/Uber/sass/media.sass */
  .menu_item {
    padding-right: 8px;
  }
  /* line 22, D:/Учеба/Uber/sass/media.sass */
  .menu_link {
    font-size: 10px;
  }
  /* line 25, D:/Учеба/Uber/sass/media.sass */
  .subheader_official {
    font-size: 11px;
  }
  /* line 27, D:/Учеба/Uber/sass/media.sass */
  .subheader_phone {
    font-size: 18px;
  }
  /* line 29, D:/Учеба/Uber/sass/media.sass */
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  /* line 34, D:/Учеба/Uber/sass/media.sass */
  .promo_header {
    font-size: 40px;
  }
  /* line 36, D:/Учеба/Uber/sass/media.sass */
  .promo_subheader {
    font-size: 30px;
  }
  /* line 39, D:/Учеба/Uber/sass/media.sass */
  .advanteges_card {
    flex-direction: column;
    align-items: center;
  }
  /* line 42, D:/Учеба/Uber/sass/media.sass */
  .advanteges_title {
    margin-top: 20px;
  }
  /* line 45, D:/Учеба/Uber/sass/media.sass */
  .mobile_item {
    width: 230px;
  }
  /* line 47, D:/Учеба/Uber/sass/media.sass */
  .mobile_item__subtitle {
    font-size: 16px;
  }
  /* line 52, D:/Учеба/Uber/sass/media.sass */
  .footer_wrapper > div:nth-child(2n+1) {
    width: 25%;
  }
  /* line 54, D:/Учеба/Uber/sass/media.sass */
  .footer_wrapper > div:nth-child(2n) {
    width: 50%;
  }
  /* line 57, D:/Учеба/Uber/sass/media.sass */
  .footer_icons {
    display: flex;
    flex-direction: column;
  }
  /* line 60, D:/Учеба/Uber/sass/media.sass */
  .footer_icons a {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  /* line 64, D:/Учеба/Uber/sass/media.sass */
  .menu {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  /* line 74, D:/Учеба/Uber/sass/media.sass */
  .menu_item {
    margin: 10px 0;
    border: none;
    padding-right: 0;
  }
  /* line 78, D:/Учеба/Uber/sass/media.sass */
  .menu_link {
    font-size: 20px;
  }
  /* line 80, D:/Учеба/Uber/sass/media.sass */
  .menu_active {
    left: 0;
  }
  /* line 82, D:/Учеба/Uber/sass/media.sass */
  .gamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  /* line 90, D:/Учеба/Uber/sass/media.sass */
  .gamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  /* line 98, D:/Учеба/Uber/sass/media.sass */
  .gamburger_active span {
    margin-bottom: -2px;
  }
  /* line 100, D:/Учеба/Uber/sass/media.sass */
  .gamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  /* line 102, D:/Учеба/Uber/sass/media.sass */
  .gamburger_active span:nth-child(2) {
    display: none;
  }
  /* line 104, D:/Учеба/Uber/sass/media.sass */
  .gamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  /* line 106, D:/Учеба/Uber/sass/media.sass */
  .xs-hidden {
    display: none;
  }
  /* line 108, D:/Учеба/Uber/sass/media.sass */
  .xs-visible {
    display: block;
  }
  /* line 111, D:/Учеба/Uber/sass/media.sass */
  .subheader_phone {
    display: block;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400px;
    text-transform: uppercase;
    text-align: center;
  }
  /* line 119, D:/Учеба/Uber/sass/media.sass */
  .subheader_btn {
    display: block;
    width: 180px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
  }
  /* line 126, D:/Учеба/Uber/sass/media.sass */
  .promo_header {
    line-height: 45px;
  }
}

@media (max-width: 575px) {
  /* line 129, D:/Учеба/Uber/sass/media.sass */
  .subheader {
    height: 60px;
  }
  /* line 131, D:/Учеба/Uber/sass/media.sass */
  .subheader_official {
    display: none;
  }
  /* line 133, D:/Учеба/Uber/sass/media.sass */
  .subheader__logo {
    margin-top: 16px;
  }
  /* line 135, D:/Учеба/Uber/sass/media.sass */
  .subheader_phone {
    font-size: 12px;
    font-weight: 400px;
    margin-top: 5px;
  }
  /* line 139, D:/Учеба/Uber/sass/media.sass */
  .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin-top: 3px;
  }
}

/*# sourceMappingURL=media.css.map */